.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    // .list-group{
    //     margin-bottom: 150px;
    // }
}

